*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --body-color:#E4E9F7;
    --sidebar-color:#FFF;
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-04);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #28798d;

}

.sidebar{
    position: fixed;
    top:0;
    padding: 10px 14px;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;

}

.sidebar header{
    position: relative;

}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;

}

.sidebar .text{
    font-size: 16px;
    margin: 5px;
    font-weight: 500;
    color: var(--text-color);
    transition:var(--trans-04) ;
    white-space: nowrap;
    opacity: 0;

}

.sidebar .img{
    display: flex;
    min-width: 60px;
    align-items: center;

}

.sidebar .header .image-text{
    
    align-items: center;
    
}

.sidebar li{
    height: 50px;
    
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar .search-box{
    background: var(--primary-color-light);

}

.search-box input{
    height: 100%;
    width: 100%;
    background: var(--primary-color-light);
    outline: none;
    border: none;
    border-radius: 6px;
}
.sidebar li .icon{
    font-size: 20px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li text {
    color:var(--text-color);
    transition: var(--trans-02);
}




.sidebar header .toggle{
    position:absolute;
    transform: translateY(-50%) rotate(180deg);
    top:50%;
    right: -25px;
    
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    color: var(--sidebar-color);
    transition:var(--trans-03) ;

}

.sidebar.close{
    width: 78px;
}

.sidebar.close .text {
    opacity: 0;
}

.body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: var(--trans-04);
    border-radius: 6px;
}

.sidebar li a:hover{
 background: var(--primary-color);
}

.sidebar.close ~ .home{
    left:88px;
    width: calc(100% - 88px);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.body.dark .sidebar li a:hover .icon,
.body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}
.sidebar .menu-bar{
    background: var(--sidebar-color);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;

}

.menu-bar .mode i{
    position: absolute;
    transition: var(--trans-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;

}

body.dark .menu-bar .mode i.moon {
    opacity: 0;

}

.menu-bar .mode .toggle-switch{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    position: absolute;
    right: 0;
    background: var(--primary-color-light);
    border-radius: 6px;
    
    cursor: pointer;
}

.toggle-switch .switch{
    height: 22px;
    width:44px;
    position: relative;
    background: var(--text-color);
    border-radius: 25px;
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width:15px ;
    background: var(--sidebar-color);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--trans-03);
}

body.dark .switch::before{
    left:20px;
}

body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--text-color);
}

.sidebar.close header .toggle {
    transform: rotateY(-50%);
    
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close .mode-text {
    opacity: 1 !important;
}

.home{
    position: relative;
    left:88px;

    height: 100vh;
    width: calc(100% - 88px);
    background: var(--body-color);
    transition: var(--trans-05);
}

.search-box {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 6px;
    height: 50px;
}

.search-box input {
    flex: 1;
    padding-left: 10px;
}

