body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  width:500px;
  height:300px;
  background:linear-gradient(135deg,#641e13,#491f83);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card img{
  height: 150px;
  position: absolute;
  bottom: 7px;
  left: 80%;
  transform: translateX(-50%);
  transition: .5s;
  opacity: 0.8;
  background: none;
}

.card:hover img{
  height: 400px;
  left: 80%;
}

.card:hover .text{
  opacity: 1;
  left:10%;
}

.card .text{
  width: 50%;
  position: absolute;
  left: 30%;
  color: white;
  opacity: 0;
  transition: .5s;
}

button{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
}