* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #11c7c7;
    color: rgb(20, 19, 19);
}


.profile-container {
    max-width: 420px;
    margin: auto;
    padding: 15px;
}


.profile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px 18px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}

.profile-menu {
    font-size: 26px;
    cursor: pointer;
}


.user-row {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 12px;
}



.user-right {
    flex: 1;
}

.full-name {
    font-size: 16px;
    margin-bottom: 8px;
}

.counts {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.counts div {
    font-size: 13px;
}


.edit-btn-container {
    margin: 14px 0;
}

.edit-btn {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #93369b;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}


.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tab {
    padding: 10px;
    opacity: 0.6;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}

.tab.active {
    opacity: 1;
    border-bottom: 2px solid white;
}


.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    margin-top: 15px;
}

.grid-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}

.profile-pic-wrapper {
    width: 42px;
    height: 42px;
    position: relative;
    background: #2fd2c9;
    display: flex;
    align-items: center;
     justify-content: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 6px;
    overflow:hidden;
}



.default-user-icon {
    font-size: 48px;
    color: white;
}

.camera-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
   
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.camera-icon i {
    color: white;
    font-size: 16px;
}

.user-top-row {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: space-between;
}

.user-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

