/* ---------- MAIN ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body.dark {
    background: #18191a;
    color: #e4e6eb;
}
/* :root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
} */

/* ---------- SIDEBAR ---------- */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #000533;
    padding: 10px 14px;
    transition: 0.4s;
    overflow: hidden;
    z-index: 9999;
}

.sidebar.close {
    width: 78px;
}

.sidebar header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.sidebar header .toggle {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background: #1c71c5;
    padding: 4px;
    border-radius: 50%;
    transition: 0.4s;
}

.sidebar.close header .toggle {
    transform: translateY(-50%) rotate(0deg);
}

/* Image */
.sidebar .image {
    min-width: 45px;
    height: 45px;
}

.sidebar .image img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    border-top-left-radius: 6px;
        /* A – slight rounded */
    border-top-right-radius: 30%;
        /* B – more rounded */
    border-bottom-left-radius: 30%;
        /* B – more rounded */
    border-bottom-right-radius: 6px;
        /* A – slight rounded */
}

/* Text Hide */
.sidebar.close .text {
    opacity: 0;
    pointer-events: none;
}

/* ---------- MENU ---------- */
.menu-bar {
    margin-top: 10px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    padding-right: 5px;
}

.menu-bar::-webkit-scrollbar {
    width: 5px;
}

.menu-bar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

/* Search box */
.search-box {
    display: flex;
    align-items: center;
    background: #3a3b3c;
    padding: 6px;
    border-radius: 8px;
    height: 45px;
}

.search-box input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
    color: #fff;
}

.menu-links li {
    list-style: none;
    margin: 8px 0;
}

.nav-link a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #e9e4e4;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-link a:hover {
    background: #3a3b3c;
}

/* ---------- BOTTOM SECTION ---------- */
.bottom-content li {
    list-style: none;
    margin-top: 15px;
}

/* Dark Mode Switch */
.mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3a3b3c;
    padding: 10px;
    border-radius: 8px;
}

.toggle-switch {
    width: 40px;
    height: 20px;
    background: #8b8b8b;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.switch {
    width: 18px;
    height: 18px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    transition: 0.4s;
}

body.dark .switch {
    transform: translateX(20px);
}

.menu-bar .mode i.sun {
    opacity: 0;
    transition: 0.3s;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

body:not(.dark) .sidebar  {
    background: linear-gradient(to right, #ff512f, #dd2476);
}

body:not(.dark) .sidebar a{
    color: #0c0c0c;
}

body:not(.dark) .nav-link a:hover {
    background: #ebe7ec;
}

body:not(.dark) .search-box {
    background: #efedf0f3;
}

body:not(.dark) .mode {
    background: #e4dada;
}

body:not(.dark) .profile-box a:hover {
    background: #e4dada;
}


/* Profile box same style as nav-link */
.profile-box a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 6px;
    transition: 0.3s;
    color: #fff;
    
}

/* Round profile image */
.profile-box img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
   border-top-left-radius: 6px;
        
    border-top-right-radius: 30%;
       
    border-bottom-left-radius: 30%;
        
    border-bottom-right-radius: 6px;
       
}

/* Hover effect same as others */
.profile-box a:hover {
    background: #3a3b3c;
}

.profile-box a:hover .text {
    color: #fff;
}

/* Collapsed mode hides text only */
.sidebar.close .profile-box .text {
    opacity: 0;
    display: none;
}

.home {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    padding: 10px;
    background: var(--body-color);
    transition: all 0.5s ease;
    
}

.footer {
    width: 100%;
    background: #f5f2f2;        /* dark background */
    color: #2d5d5f;             /* light text */
    padding: 12px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-top: 1px solid #333;
    padding-left: 78px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-logo {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 4px;   /* Slight rounded like your A corner */
}

.footer-text {
    font-size: 14px;
    color: #9e2194;
}

.footer p {
    margin: 0;
    font-size: 13px;
    color: #3d0a44;
}

.sidebar.close ~ .footer {
    padding-left: 78px;
}

.sidebar:not(.close) ~ .footer {
    padding-left: 250px;
}





/* HOME CONTAINER */
.home-container {
    padding: 40px 50px;
    color: var(--text-color);
    overflow-y: auto;
    margin-top: 0;
    padding-top: 0;
        
}

/* WELCOME SECTION */
.welcome-section {
    background: var(--sidebar-color);
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
}

.welcome-section h1 {
    font-size: 28px;
    font-weight: 700;
}

.welcome-section h1 span {
    color: #695CFE;
}

.welcome-section p {
    margin-top: 0px;
    font-size: 15px;
}

.welcome-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #695CFE;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background: transparent;
    border: 2px solid #695CFE;
    color: #695CFE;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.8;
}

/* FEATURED POSTS GRID */

/* ✅ Plus Button Bottom Left */
.add-icon {
    position: absolute;
    bottom: -6px;
    left: -6px;
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: rgb(85, 8, 8);
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
}





.logos-only {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 12px;
}

/* ✅ Each Logo Container */
.logo-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
}

/* ✅ Custom Rounded Square Shape */
.logo-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    /* ✅ Your requested rounded style */
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/* ✅ Plus Button Only On User Logo */
.user-logo .add-icon {
    position: absolute;
    bottom: -5px;
    left: -5px;
    width: 22px;
    height: 22px;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--sidebar-color);
    cursor: pointer;
}

/* ✅ Hover Glow Effect */
.logo-avatar:hover {
    box-shadow: 0 0 12px rgba(105, 92, 254, 0.6);
    transform: scale(1.05);
    transition: 0.2s;
}

.default-avatar {
    width: 60px;
    height: 60px;
    border-radius: 18px;
    /* ✅ Your custom rounded square */
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: transparent;
    cursor: pointer;
}

.feed {
    max-width: 520px;
    margin-top: 10px;
    padding-bottom: 80px;
}

.post-card {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
    border-radius: 14px;
    overflow: hidden;
    background: #000;
}

/* ✅ MEDIA FULL SIZE */
.post-media {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
}

/* ✅ USER OVERLAY */
.post-header {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
    color: white;
}

.post-user-logo {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 12px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 14px;
    background: #222;
}

.post-username {
    font-size: 14px;
    font-weight: 600;
}

.post-header small {
    font-size: 11px;
    opacity: 0.8;
}

/* ✅ POST ACTIONS */
.post-actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 10;
}

.left-actions {
    display: flex;
    gap: 18px;
}

.post-actions i {
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.post-actions i:hover {
    color: #6c63ff;
}

.post-actions-vertical {
    position: absolute;
    right: 15px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 10;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(243, 239, 239);
    cursor: pointer;
    font-size: 13px;
}

.action-btn i {
    font-size: 30px;
    margin-bottom: 3px;
    transition: transform 0.2s ease;
}

.action-btn:hover i {
    transform: scale(1.15);
}

.reel-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: auto;
    overflow: hidden;
    border-radius: 14px;
}

.post-media {
    width: 100%;
    height: 85vh;
    object-fit: cover;
}



/* ✅ RIGHT SIDE ACTION BAR */
.post-actions-vertical {
    position: absolute;
    right: 12px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: white;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.action-btn i {
    font-size: 26px;
}

.action-btn span {
    font-size: 12px;
}

.tap-indicator {
    position: absolute;
    inset: 0;
    top:50%;
    left:50%;
    padding: 14px 24px;
    border-radius: 14px;
    gap:6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 22px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.tap-indicator i {
    font-size: 28px;
}

.tap-indicator.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.likeBtn i {
    transition: 0.2s;
}

.likeBtn.liked i {
    color: red;
    transform: scale(1.2);
}